<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BotWUnpacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZeldaUnpacker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BotWUnpacker.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
        </BotWUnpacker.Properties.Settings>
        <ZeldaUnpacker.Properties.Settings>
            <setting name="RootFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="XmlCbxStatus" serializeAs="String">
                <value>False</value>
            </setting>
        </ZeldaUnpacker.Properties.Settings>
    </userSettings>
</configuration>